.idea
.vscode
.trae
.jbeval

# Python
__pycache__/
*/__pycache__/
.pytest_cache
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Virtual env
*/.venv

# Project specific
backend/alembic
backend/app/tests/data
docs/docker/volumes
backend/.env
backend/.env.*
